body 
{
   display: flex;
    flex-direction: column;
    font-family: calibri;
    color: blanchedalmond;
    padding: 0;
}
.margin_none
{
    margin: 0;
}
header
{
    padding-right: 50px;
    display: flex;
    background-color: rgb(27, 27, 27);
    height: 100px;
    justify-content: space-between;
}
nav 
{
    align-items: center;
    display: flex;
}
ul
{
    list-style: none;
}
.flex_ul
{
    padding: 0px;
    display: flex;
}
a
{
    
    text-decoration: none;
    color: blanchedalmond;
    margin-left: 30px;
}
a:hover {color: rgb(176, 153, 182)}
.logo 
{
    display: flex;
    align-items: center;
}
main 
{
   display: flex;
    flex-direction: column;
    justify-content: center;
}
.padding {
    padding-left: 50px;
}
.content 
{
    display: flex;
    flex-direction: column;
    background-image: url("../img/night_sky.jpg");
    background-size: cover;
    height: 100vh;
    justify-content: center;
}
.f
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: #ccc;
    font-size: 110%;
    color: antiquewhite;
    background-color: rgb(27, 27, 27);
    width: 100px;
    height: 35px;
}
button:hover
{
    background-color: rgb(0, 0, 0);
}
.content h2
{
    font-size: 400%;
}
.content p 
{
    font-size: 150%;
}
section 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    min-height: 300px;
    height: 450px;
}
.first_section
{

    background-color: rgb(219, 219, 219);
}
.services
{
    margin-top: 16px;
}
.services li 
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border:  1px solid #000;
    height: 250px;
    width: 250px;
    padding: 10px;
}
img 
{
    height: 100px;
    width: 100px;
}
.second_section 
{
    background-color: rgb(187, 187, 187);
}
.third_section
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.contacts
{
    display: flex;
    flex-direction: column;
    margin: 16px;
}
input 
{
    height: 30px;
    margin-top: 10px;
    width: 300px;
    border-radius: 2px;
    width: 300px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(102, 102, 102);
}
.contacts button 
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 2px;
    width: 310px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(102, 102, 102);
    margin-top: 10px;
}
.contacts button:hover
{
    background-color: rgb(228, 227, 227);
} 
.right li
{
    display: flex;
}
.right img
{
    width: 20px;
    height: 20px;
    margin-right: 13px;
}
.right 
{
    margin-left: 15%;
}
footer 
{
    color: blanchedalmond;
    display: flex;
    background-color: rgb(27, 27, 27);
    height: 100px;
    justify-content: center;
    align-items: center;
}
footer p 
{
    height: 20px;
}
